<%- include("../includes/header") %>

<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3>List Of All Employee</h3>
            <table class="table table-dark table-hover table-striped">
                <tr>
                    <th>S.No.</th>
                    <th>Full Name</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <% data.forEach((value, index)=>{ %>

                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= value.fullname %></td>
                        <td><a href="/employee/detail/<%= value._id %>" class="btn btn-info btn-sm">Detail</a></td>
                        <td><a href="/employee/edit/<%= value._id %>" class="btn btn-sm btn-warning">Edit</a></td>
                        <td><a href="/employee/delete/<%= value._id %>" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>

                <% }) %>

            </table>
        </div>
    </div>
</div>

<%- include("../includes/footer") %>